* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  width: 100%;
  height: 600px;
}
.main {
  position: relative;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}
.slide_input {
  display: none;
}
.view_box {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slider {
  position: absolute;
  width: 300%;
  height: 100%;
  display: flex;
}
.slider > img {
  width: calc(100% / 3);
  height: 100%;
  object-fit: cover;
}
.controller > label {
  position: absolute;
  font-size: 80px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
label.left {
  left: 50px;
}
label.right {
  right: 50px;
}

.slider {
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: calc(-8s + 0.4s);
}

.active1:checked ~ .view_box .slider {
  animation-name: slide1;
}
.active2:checked ~ .view_box .slider {
  animation-name: slide2;
}
.active3:checked ~ .view_box .slider {
  animation-name: slide3;
}
.active4:checked ~ .view_box .slider {
  animation-name: slide4;
}

@keyframes slide1 {
  /*12321*/
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide2 {
  /*23212*/
  0% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  45% {
    left: -200%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  75% {
    left: 0%;
  }
  95% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
@keyframes slide3 {
  /*32123*/
  0% {
    left: -200%;
  }
  20% {
    left: -200%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  70% {
    left: 0%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}
@keyframes slide4 {
  /*21232*/
  0% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  25% {
    left: 0%;
  }
  45% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  75% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -100%;
  }
}
.controller label {
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.active1:checked ~ .controller label[data-idx="1"] {
  animation-name: ac1;
}
.active1:checked ~ .controller label[data-idx="2"] {
  animation-name: ac2;
}
.active1:checked ~ .controller label[data-idx="3"] {
  animation-name: ac3;
}
.active1:checked ~ .controller label[data-idx="4"] {
  animation-name: ac4;
}
/*----------------------------------------------------------*/
.active2:checked ~ .controller label[data-idx="1"] {
  animation-name: ac4;
}
.active2:checked ~ .controller label[data-idx="2"] {
  animation-name: ac1;
}
.active2:checked ~ .controller label[data-idx="3"] {
  animation-name: ac2;
}
.active2:checked ~ .controller label[data-idx="4"] {
  animation-name: ac3;
}
/*----------------------------------------------------------*/
.active3:checked ~ .controller label[data-idx="1"] {
  animation-name: ac3;
}
.active3:checked ~ .controller label[data-idx="2"] {
  animation-name: ac4;
}
.active3:checked ~ .controller label[data-idx="3"] {
  animation-name: ac1;
}
.active3:checked ~ .controller label[data-idx="4"] {
  animation-name: ac2;
}
/*----------------------------------------------------------*/
.active4:checked ~ .controller label[data-idx="1"] {
  animation-name: ac2;
}
.active4:checked ~ .controller label[data-idx="2"] {
  animation-name: ac3;
}
.active4:checked ~ .controller label[data-idx="3"] {
  animation-name: ac4;
}
.active4:checked ~ .controller label[data-idx="4"] {
  animation-name: ac1;
}
@keyframes ac1 {
  0% {
    z-index: 2;
  }
  24.9% {
    z-index: 2;
  }
  25.0% {
    z-index: 0;
  }
  49.9% {
    z-index: 0;
  }
  50.0% {
    z-index: 0;
  }
  74.9% {
    z-index: 0;
  }
  75.0% {
    z-index: 0;
  }
  99.9% {
    z-index: 0;
  }
  100% {
    z-index: 2;
  }
}
/**/
@keyframes ac2 {
  0% {
    z-index: 0;
  }
  24.9% {
    z-index: 0;
  }
  25.0% {
    z-index: 2;
  }
  49.9% {
    z-index: 2;
  }
  50.0% {
    z-index: 0;
  }
  74.9% {
    z-index: 0;
  }
  75.0% {
    z-index: 0;
  }
  99.9% {
    z-index: 0;
  }
  100% {
    z-index: 2;
  }
}
/**/
@keyframes ac3 {
  0% {
    z-index: 0;
  }
  24.9% {
    z-index: 0;
  }
  25.0% {
    z-index: 0;
  }
  49.9% {
    z-index: 0;
  }
  50.0% {
    z-index: 2;
  }
  74.9% {
    z-index: 2;
  }
  75.0% {
    z-index: 0;
  }
  99.9% {
    z-index: 0;
  }
  100% {
    z-index: 2;
  }
}
/**/
@keyframes ac4 {
  0% {
    z-index: 0;
  }
  24.9% {
    z-index: 0;
  }
  25.0% {
    z-index: 0;
  }
  49.9% {
    z-index: 0;
  }
  50.0% {
    z-index: 0;
  }
  74.9% {
    z-index: 0;
  }
  75.0% {
    z-index: 2;
  }
  99.9% {
    z-index: 2;
  }
  100% {
    z-index: 0;
  }
}
